# Игнорируем виртуальную среду
VenV/
*.env

# Игнорируем файлы базы данных
db.sqlite3
db_backup.sqlite3

# Игнорируем все статические файлы и логи
static/
staticfiles/
*.log

# Игнорируем файлы архивов
Archive.zip

# Игнорируем пользовательские файлы, например, логи
user_activity.log

# Игнорируем файлы и папки, генерируемые IDE
.idea/

# Игнорируем файл настроек Django
*.pyc
__pycache__/

# Игнорируем файлы, связанные с системой
.DS_Store

# Игнорируем файлы, связанные с системой сборки (например, для Docker)
*.dockerignore
Dockerfile
docker-compose.yml

# Игнорируем временные файлы
*.bak
*.swp
*.swo

# Игнорируем зависимости
*.egg-info/
dist/
build/

# Игнорируем дополнительные файлы, такие как журналы, кэш, временные файлы
*.log
